#ContentDescripcionEvol
{
	margin-top: 3em;
	font-size: 0.6em;
}
#ContentDescripcionEvol .titles
{
	font-weight: bold;
}
#ContentDescripcionEvol .titles div
{
	border: solid;
	border-style: dotted;
	border-color: #7F7F7F;
	border-width: 1px;	

}
#ContentDescripcionEvol .evolutionsHistory div
{
	border-left: solid;
	border-left-style: dotted;
	border-left-color: #7F7F7F;
	border-left-width: 1px;
}
