
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Orbitron:400,900);

body
{
	font-size: "17px";
	font-family: 'Open Sans', sans-serif;
	background-color: rgb(248, 248, 248); 
	overflow: scroll;
}

h1
{
	width: 100%;

}
h2
{
	text-align: center;
}
i.fa.fa-asterisk
{
	color: red;
}
label.error
{
	color: red;
	font-size: 0.7em;
}
figure
{
	margin: 0 1%;
}

svg.figureDent
{
	stroke:black;
	stroke-width:89.1356;
	fill:rgb(240,240,240);
}

svg.figureDent .faceDent:hover
{
	
}
.contentAdsolute .figureItemProcedure svg
{
	position: absolute;
	top: 0;
	left: 0;
}
.contentOneDent
{
	position: relative;
	width: 9%;
}

.ContentOdontograma
{
	width: 68%;
}

.ContentOdontograma .contentTop
{
	margin-bottom: 1em;
}
.ContentOdontograma .fileGroup
{
	width: 100%;
}
.ContentOdontograma .fileGroup .group
{
	display: inline-block;
	vertical-align: top;
	width: 47%;
}
.ContentOdontograma .group .subGroup
{
	margin-bottom: 0.3em;
	width: 100%;
}
.ContentOdontograma .group .subGroup .contentOneDent
{
	vertical-align: top;
	display: inline-block;
}

.ContentOdontograma .groupleft
{
	margin-right: 1%;

}
.ContentOdontograma .groupleft .subGroup .contentOneDent
{
	
}
.ContentOdontograma .groupRigth
{
	margin-left: 1%;
}
.ContentOdontograma, .contentProcedures
{
	display: inline-block;
	vertical-align: top;
}
.contentProcedures
{
	margin-left: 0.1%;
	width: 29%;
}
.footDent
{
	height: 1.5em;
}
.itemProcedure
{
	border-left: solid;
	border-left-style: dotted;
	border-left-color: #7F7F7F;
	border-left-width: 1px;	
	font-size: 0.9em;
	text-align:left;
	padding: 0.2em  !important;
	white-space: normal;
	width: 90%;
}
.itemPainted
{
	border-bottom: solid;
	border-bottom-style: dotted;
	border-bottom-color: #7F7F7F;
	border-bottom-width: 1.5px;		
}

.navbar-brand
{
	padding: 0.5em;
}

.procedureNullRepresentacion
{

	font-size: 0.7em;
	position: relative;
	margin-left: 3%;
	width: 50%;
}
.procedureNullRepresentacion .row
{
	border-top-color: #7F7F7F;
	border-top: solid;
	border-top-width: 2px;	
	border-top-style: dotted;
}
.procedureNullRepresentacion .row div
{
	border-left: solid;
	border-left-style: dotted;
	border-left-color: #7F7F7F;
	border-left-width: 2px;		
	padding: 0;
}
.popover
{
	min-width: 35%;
}

.popover-content
{
	font-size: 0.8em;
}
.popover-content .row
{
	border-top: solid;
	border-top-style: dotted;
	border-top-color: #7F7F7F;
	border-top-width: 1px;	
}
.popover-content .row div
{
	border-left: solid;
	border-left-style: dotted;
	border-left-color: #7F7F7F;
	border-left-width: 1px;		
	padding: 0;
}
.popover-content .btn
{
	width: 70%;
	height: auto;
	padding: 0;
}

.row
{
	width: 99.9%;
}
#diagnosticos .contentOneDent svg g .dent1
{
	/*fill: rgb(108,189,202);*/
}
/*
#tratamientos .contentOneDent svg g .dent1
{
	fill: #8DBCFC;
}
#evolucion .contentOneDent svg g .dent1
{
	fill: rgb(108,189,202);
}
*/